@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';





.header {
    margin: 32px auto 56px;

    &__inner {
        height: 62px;
        display: flex;
        align-items: center;
    }

    &__btn {
        height: 62px;
        width: 187px;
        background: #F05670;
        border-radius: 15px;
        color: #FFFFFF;
        font-size: 14px;
        border: none;
        margin-left: 58px;
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        font-family: 'Gilroy-Regular';
    }
}

.logo {
    &__img {
        max-height: 58px;
        max-width: 239px;
    }
}

.menu {
    margin-left: 244px;

    &__contact-item {
        display: inline-block;
    }

    &__contact-item+&__contact-item {
        margin-left: 58px;
    }

    &__contact-box {
        display: flex;
        align-items: center;
    }

    &__contact-phone {
        margin-left: 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1E959B;
        font-family: 'Gilroy-Regular';
    }
}

.logo__img--footer {
    max-width: 231px;
    max-height: 236px;
}

.footer {
    background: #FFFFFF;
    min-height: 242px;
    margin: 0 auto;


    &__inner {
        max-width: 1230px;
        display: flex;
        align-items: center;
        padding: 44px 5px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        width: 181px;
    }

    &__link-mobile {
        margin-bottom: 22px;

    }

    &__link-mobile,
    &__link-header {
        display: block;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #1E959B;
        width: 181px;
    }

    &__call {
        display: flex;
        flex-direction: column;
        margin-left: 45px;
    }

    &__call-text {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1E959B;
        margin-bottom: 15px;
    }

    &__call-box {
        display: flex;
        align-items: center;
    }

    &__call-phone {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1E959B;
        margin-left: 16px;
        width: 139px;
    }

    &__social {
        display: flex;
        align-items: center;
        margin-left: 26px;
    }

    &__address {
        display: flex;
        align-items: center;
        margin-left: 41px;
    }

    &__address-text {
        margin-left: 20px;
    }

    &__address-text {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        max-width: 290px;
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: rgba(60, 60, 60, 0.5);
    }
}

.develop {
    min-height: 630px;
    display: flex;
    justify-content: center;

    &__inner {
        display: flex;
        align-items: center;
        margin: 0 220px 54px 185px;
    }

    &__title {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1E959B;
        max-width: 220px;
        margin-bottom: 16px;
    }

    &__text {
        max-width: 320px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #3C3C3C;
        margin-bottom: 50px;
    }

    &__button {
        background: #F05670;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 25px 24px;
        border: none;
    }

    &__image {
        margin-left: 94px;
    }
}

.partners {
    height: 90px;
    background-color: #1E959B;
    max-width: 1440px;
    margin: 0 auto 120px;

    &__inner {
        padding: 18px 132px 18px 141px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}

.plan {
    &__inner-height {
        display: flex;
        justify-content: space-between;
        margin: 0 132px 33px 141px;
    }



    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 195px;
        height: 164px;
        padding: 27px 0px 19px 0px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
    }

    &__card--low {
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 195px;
        height: 164px;
        padding: 27px 0px 19px 0px;
    }

    &__card-img {
        margin-bottom: 21px;
    }

    &__inner-low {
        display: flex;
    }

    &__card-text {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
    }
}

.interview {
    padding: 0 184px 0 174px;
    margin-bottom: 120px;

    &__image {
        max-width: 606px;
        max-height: 508px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-left: 105px;
        margin-top: 105px;
    }

    &__title {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1E959B;
        margin-bottom: 27px;
        max-width: 371px;
    }

    &__text {
        max-width: 310px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #3C3C3C;
        margin-bottom: 44px;
    }

    &__btn {
        max-width: 257px;
        background: #F05670;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 25px 21px;
    }
}

.command {

    &__product {
        display: flex;
        justify-content: center;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1E959B;
        margin-bottom: 50px;
    }

    &__inner {
        padding: 0 178px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        border-radius: 25px;
        padding: 25px 0px;
        width: 320px;
        height: 320px;
        margin-bottom: 46px;
        box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
    }

    &__card-image {
        margin-bottom: 19px;
    }

    &__card-title {
        text-align: center;
        margin-bottom: 5px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #1E959B;
    }

    &__card-text {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: start;
        padding-left: 45px;
    }

    &__button {
        padding: 25px 63px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #1E959B;
        background-color: transparent;
        border: 1px solid #1e959b80;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        margin-top: -2px;
        margin-bottom: 120px;
        cursor: pointer;
    }
}

.banner {
    position: relative;
    min-height: 450px;
    background-image: url("../images/61769 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 120px;

    &__slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0;
        padding: 0;
        z-index: 10;
    }

    &__slick-arrowleft {
        left: 49px;
    }

    &__slick-arrowright {
        right: 49px;
    }


    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 126px 30px 158px;
        z-index: 5;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    &__data {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        text-transform: uppercase;
        color: #F05670;
        margin-bottom: 6px;
    }

    &__title {
        max-width: 608px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1E959B;
    }

    &__circle-imgone {
        position: absolute;
        top: 0;
        left: 123px;
    }

    &__circle-imgtwo {
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

    &__circle-imgthree {
        position: absolute;
        bottom: 0;
        left: 708px;
        right: 0;
    }

    &__circle-imgfore {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.orders {
    height: 736px;
    position: relative;
    margin-bottom: 120px;

    &__boxone {
        position: absolute;
        background-color: #1E959B;
        height: 154px;
        width: 100%;
        top: 83px;
        left: 0;
        right: 0;
    }

    &__boxtwo {
        position: absolute;
        background-color: #1E959B;
        height: 154px;
        width: 100%;
        top: 469px;
        left: 0;
        right: 0;
    }

    &__inner {
        padding: 0 68px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        position: relative;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 30px;
        width: 289px;
        height: 305px;
        margin-bottom: 83px;
        display: block;
        text-align: center;
        position: relative;
    }

    &__circle {
        position: absolute;
        background-color: #1E959B;
        height: 182px;
        width: 182px;
        border-radius: 50%;
        top: -43px;
        left: 51px;
    }

    &__image {
        padding: 37px;
    }

    &__title {
        margin-top: 171px;
        margin-bottom: 27px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #1E959B;
    }

    &__titlethree {
        margin-top: 160px;
        margin-bottom: 7px;
    }

    &__btn {
        background: #F05670;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 23px 66px;
        cursor: pointer;
    }

}

.request {
    margin-bottom: 84px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 349px;
        padding-left: 325px;
    }

    &__btns {
        background: #F05670;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        padding: 37px 57px 32px 57px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
    }
}

.banner-section {
    position: relative;
    margin-bottom: 143px;

    &__slider-img {
        display: block;
        margin: 0 auto;
        max-width: 780px;
        max-height: 487px;

    }

    &__slider-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
        outline: none;
    }

    &__slider-btnprev {
        left: 330px;
        bottom: 0px;
    }

    &__slider-btnnext {
        right: 330px;
        bottom: 0px;
    }

    .slick-dots {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .slick-dots li {
        display: inline-block;
        padding: 0 50px;
    }

    .slick-dots button {
        padding: 0;
        font-size: 0;
        margin: 0;
        width: 19px;
        height: 19px;
        border: 1px solid #D7EFF0;
        border-radius: 50%;
        background-color: #D7EFF0;
    }

    .slick-dots .slick-active button {
        background-color: #1E959B;
    }

    .slick-active li button {
        background-color: #1E959B;
    }
}

.price {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: center;
        padding: 0 120px;
    }

    &__open {
        width: 478px;
        height: 533px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 30px;
        position: relative;

    }

    &__open-picture {
        position: absolute;
        top: -73px;
        left: 72px;
        right: 0;
    }

    &__week {
        margin: 222px 58px 27px 58px;
        display: flex;
        justify-content: space-between;
    }

    &__week-left {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 158px;
            top: -10px;
            bottom: 0;
            right: 0;
            width: 1px;
            height: 78px;
            background: #1E959B;
            opacity: 0.5;
        }
    }

    &__week-number {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 11px;
    }

    &__week-date {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #1E959B;
    }

    &__open-image {
        margin-left: 59px;
        margin-bottom: 20px;
    }

    &__open-img {
        display: inline-block;
        margin-right: 19px;
    }

    &__open-link {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__link-image {
        margin-right: 15px;
    }

    &__open-btn {
        display: block;
        margin: 0 auto;
        background: #F05670;
        box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
        border-radius: 20px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 28px 73px;
        cursor: pointer;
    }

    &__link {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-transform: capitalize;
        color: #1E959B;
    }

    &__info {
        max-width: 583px;
        margin-left: 110px;
    }

    &__info-title {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1E959B;
        margin-bottom: 27px;
    }

    &__info-text {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #3C3C3C;
        margin-bottom: 25px;
    }

}